doctype
html
head
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
	meta(name="viewport", content="width=device-width")
	title= (!index && article.title ? article.title + " - " : "") + "Attester documentation"
	link(rel="stylesheet", href="/css/style.css", type="text/css")
	link(rel="stylesheet", href="/font/font-awesome.min.css", type="text/css")
	//if IE
	//if lt IE 7
		<link rel="stylesheet" href="/font/font-awesome-ie7.min.css">
body
	mixin home(content)
		| !{content}

	mixin article_element(title, content, toc)
		article
			if toc.length > 2
				nav.toc
					each heading in toc
						#{'h' + heading.depth}
							a(href="#" + heading.link)= heading.title
			| !{content}

	mixin article_api(title, content, methods, events)
		if methods.length > 0 || events.length > 0
			.api.navigation
				if methods.length > 0
					nav.methods
						h1 Methods
						each method in methods
							h2= method
				if events.length > 0
					nav.events
						h1 Events
						each event in events
							h2= event
		article.api
			!{content}

	mixin side_index
		p.big Latest Version
		p= attester.version

		p.big Getting started
		p 
			| Read the 
			a(href="/usage/index.html") getting started
			|  page for an introduction or check out more advanced articles on 
			a(href="/usage/configuration.html") configuration file
			|, 
			a(href="/usage/command_line.html") command line
			|  usage or using attester as a 
			a(href="/usage/module.html") module
			|.

		p.big I like it!
		p.small Fork it on 
			a(href="https://github.com/attester/attester") GitHub

	#container
		.columns
			.main(class=index ? "index" : "")
				if index
					mixin home(article.content)
				else if documentation
					mixin article_element(article.title, article.content, article.toc)
				else if api
					mixin article_api(article.title, article.content, article.methods, article.events)
				else
					p Invalid article type, it should be either index or documentation

			.side
				aside.navigation
					header.banner
						h1#site-title
							span.title
								span.initials at
								| tester
							br
							span.caption Testing JavaScript made easy

					// Main navigation
					nav
						ul
							li(class=documentation ? "active" : "")
								a(href="/usage/index.html")
									i.icon-file-text.font-icon
									| Usage
							li(class=api ? "active" : "")
								a(href="/api/index.html")
									i.icon-code.font-icon
									| API
					mixin side_index
